*.log
*.o
*.test
*.trs
*~
.deps/
Makefile
Makefile.in
README.md
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
prog1
prog1.exe
stamp-h1
test-driver
