*.a
*.la
*.lo
*.log
*.o
*.test
*.trs
*~
.deps/
.libs/
Makefile
Makefile.in
README.md
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
prog1
prog1.exe
stamp-h1
test-driver
